// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  max-width: 1170px;
  width: 100%;
}

.navbar-nav a{
  padding-left: 15px;
  padding-right: 15px;
  color:#000;
}

.navbar-brand img{
  margin-top: 15px;
}
