body {
  color: #000;
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.top-image {
  position: relative;
  width: 100%;
  background-color: #000000;
  }

#top-movie{
  width: 100%;
  display: block;
  opacity: 0.7;
}

#top-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  }

.top{
  margin-bottom:80px;
}

.about{
  margin-bottom:80px;
}

.section1{
  margin-bottom:80px;
}



.hmap{position:relative;width:930px;margin:-200px auto 0;padding:35px;background-color:#fff;background-color:rgba(255,255,255,.5);text-align:center;font-size:80%}
.hmap:after{clear:both;display:block;content:" "}
.hmap div{float:right;width:186px}
.hmap_l2{padding-top:230px}
.hmap_l3{padding-top:300px}
.hmap_l4{padding-top:310px}
.hmap_l5{padding-top:330px}
.hmap ul{float:right;width:186px;margin:0;padding:0}
.hmap ul.chugoku,div.hmap ul.hokkaido,div.hmap ul.kyushu{margin-bottom:10px}
.hmap li{display:inline}
.hmap a{display:inline-block;border-right:1px solid #fff;border-bottom:1px solid #fff;padding:15px 2px;text-decoration:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.hmap a:link,div.hmap a:visited{color:#fff}
.hmap a:hover{overflow:visible;text-overflow:clip;opacity:.8;-ms-filter:"alpha(opacity=80)"}
ul.hokkaido a{background-color:#944c4c}
ul.tohoku a{background-color:#4c944c}
ul.kanto a{background-color:#94944c}
ul.hokushin a{background-color:#4c9494}
ul.tokai a{background-color:#944c4c}
ul.kansai a{background-color:#4c944c}
ul.chugoku a{background-color:#94944c}
ul.shikoku a{background-color:#4c9494}
ul.kyushu a{background-color:#944c4c}
ul.okinawa a{background-color:#4c944c}
a.pbh,span.pbh{clear:both;width:161px}
a.pb5,span.pb5{float:left;width:88px}
a.pb10,span.pb10{clear:both;width:181px}
a.pb3,span.pb3{float:left;width:57px}
@media only screen and (max-width:1020px) and (min-width:940px){div.hmap{width:auto;padding:35px 10px 35px 0}}
@media only screen and (max-width:939px){
  div.hmap{width:auto;margin:0;padding:5px;text-align:left}
  div.hmap div{float:none;width:auto}
  div.hmap_l2,div.hmap_l3,div.hmap_l4,div.hmap_l5{padding-top:0}
  div.hmap ul{float:none;width:auto;margin:0;padding:0;background-color:#fff;list-style:none}
  div.hmap ul.chugoku,div.hmap ul.hokkaido,div.hmap ul.kyushu{margin-bottom:0}
  div.hmap li{display:inline;border-bottom:1px solid #f5f5eb}
  div.hmap a{display:inline-block;border:none;width:29%;margin:5px 1% 0;padding:10px 1%;text-decoration:underline;white-space:normal;overflow:visible;text-overflow:clip;text-align:center}
  a.pbh,span.pbh{clear:both;width:auto}
  a.pb5,span.pb5{float:none;width:auto}
  a.pb10,span.pb10{clear:both;width:auto}
  a.pb3,span.pb3{float:none;width:auto}
}
.group{position:relative;width:1000px;margin:10px auto;text-align:center;font-size:80%}
@media only screen and (max-width:1020px) and (min-width:940px){div.group{width:100%}}
@media only screen and (max-width:939px){div.group{width:100%}}


html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;/* 16px*/
    line-height: 2;
}
h1 {
    font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
    line-height: 1.3;
}
h2 {
    font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
    line-height: 1.3;
}
@media (min-width: 1200px) {/* 1200px以上*/
    h1 {
        font-size: 3.6rem;/* 36px*/
    }
    h2 {
        font-size: 2.4rem;/* 24px*/
    }
}
@media screen and (max-width: 640px) {/* 640px以下*/
    body{
    line-height: 2;
    }
    h1{
        font-size: 2.4rem;/* 24px*/
    }
    h2 {
        font-size: 2rem;/* 20px*/
    }
}


#eyecatch{
  text-align: center;
  width:100%;
}

/*--------------------
 吹き出しを作る
--------------------*/
.balloon {
margin-bottom: 2em;
position: relative;
}
.balloon:before,.balloon:after {
clear: both;
content: "";
display: block;
}
.balloon figure {
width: 150px;
height: 150px;
}
.balloon-image-left {
float: left;
margin-right: 20px;
}
.balloon-image-right {
float: right;
margin-left: 20px;
}
.balloon figure img {
width: 100%;
height: 100%;
border: solid 3px #d7ebfe;
border-radius:50%;
margin: 0;
}
.balloon-image-description {
padding: 5px 0 0;
font-size: 10px;
text-align: center;
}
.balloon-text-right,.balloon-text-left {
position: relative;
padding: 10px;
border: 1px solid #e0edff;
border-radius: 10px;
max-width: -webkit-calc(100% - 170px);
max-width: calc(100% - 170px);
display: inline-block;
}
.balloon-text-right {
background-color: #e0edff;
}
.balloon-text-left {
border-color: #aaa;
}
.balloon-text-right {
float: left;
}
.balloon-text-left {
float: right;
}
.balloon p {
margin: 0 0 20px;
}
.balloon p:last-child {
margin-bottom: 0;
}
/* 三角部分 */
.balloon-text-right:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #e0edff;
top: 15px;
left: -20px;
}
.balloon-text-right:after {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #e0edff;
top: 15px;
left: -19px;
}
.balloon-text-left:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-left: 10px solid #aaa;
top: 15px;
right: -20px;
}
.balloon-text-left:after {
position: absolute;
content: '';
border: 10px solid transparent;
border-left: 10px solid #fff;
top: 15px;
right: -19px;
}


.pagemidashi2{
padding: 0.25em 0.5em;/*上下 左右の余白*/
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 5px #7db4e6;/*左線*/
}

.community_name{
  margin-bottom: 40px;
}

.message{
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact{
  margin-bottom: 50px;
}

.facebook_link{
   margin-bottom: 50px;
   display: block;
 }



 /* ボタン全体 */
 .flowbtn11{
 font-family:'Verdana',sans-serif;
 border-radius:4px;
 position:relative;
 display:inline-block;
 width:220px;
 font-size:28px;
 color:#fff!important;
 text-decoration:none;
 margin-bottom:5px;
 }
 /* Twitter */
 .fl_tw1{
 background:#55acee;
 }
 /* Instagramアイコン位置 */
 .insta_btn11 .fa-instagram{
 position:relative;
 z-index:1;
 }
 /* Instagram紫グラデ背景色 */
 .insta_btn11{
 background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
 background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
 overflow:hidden;
 }
 /* Instagramオレンジグラデ背景色 */
 .insta_btn11:before{
 content: '';
 position:absolute;
 top:17px;
 left:-75px;
 width:100%;
 height:100%;
 background:-webkit-radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 45%, rgba(255, 88, 96, 0) 80%);
 background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 80%);
 }
 /* Facebook */
 .fl_fb1{
 background:#3b5998;
 }
 /* ウェブサイト */
 .fl_web11{
 background:#f3981d;
 margin-top: -10px;
 }
 /* アイコンボタンホバー時 */
 .flowbtn11:hover span{
 -webkit-transform: rotateX(360deg);
 -ms-transform: rotateX(360deg);
 transform: rotateX(360deg);
 text-decoration:none;
 }
 /* ボタン内テキスト調整 */
 .flowbtn11 span{
 font-size:20px;
 position:relative;
 left:8px;
 bottom:2px;
 transition:.6s;
 display:inline-block;
 }
 /* ulタグの内側余白を０にする */
 ul.snsbtniti2{
 padding:0!important;
 list-style-type:none!important;
 }
 /* アイコンボタンの位置調整 */
 .snsbtniti2{
 display:flex;
 flex-flow:row wrap;
 }
 /* アイコンボタン同士の余白調整 */
 .snsbtniti2 li{
 flex:0 0 50%;
 text-align:center!important;
 }

.community_image,.video_link{
  margin-bottom: 15px;
}
